# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints
*.nbconvert.ipynb

# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# OS-specific
.DS_Store
Thumbs.db

# Logs and temp
*.log
*.tmp
*.bak

# Virtual environments
.env/
.venv/
ENV/
venv/